---
layout: default
---
<main class="mw8 w-100 center sans-serif black ph3">
  {% if page.introduction %}
    <header class="mw7 f5 fw4 lh-copy mb6 black-60 measure-wide avenir">
      {{ page.introduction | markdownify }}
    </header>
  {% endif %}

  {% if site.data.theme.text.post_heading %}
    <h2 class="f5 lh-title mb1">{{ site.data.theme.text.post_heading }}</h2>
  {% endif %}
  {% for post in site.posts limit: site.data.theme.text.post_limit %}
    <a class="link black" href="{{ post.url | relative_url }}">
      <article class="pv1">
        <p class="f4 fw4 lh-title mb0 underline">{{ post.title | escape }}</p>
      </article>
    </a>
  {% endfor %}

  {% if site.data.theme.text.archive %}
    <h2 class="f5 lh-title mb1 mt6">{{ site.data.theme.text.archive.heading }}</h2>
    <a class="link black" href="{{ site.data.theme.text.archive.url | relative_url }}">
      <p class="f4 fw4 lh-title pv1 mb0 underline">{{ site.data.theme.text.archive.title }}</p>
    </a>
  {% endif %}
</main>
